.App-container {

	width: 400px;
	position: absolute;
	margin-left: -200px;
	margin-top: -200px;
	top: 50%;
	left: 50%;
	display: block;
	z-index: 2000;
  border: 5px solid #f1f1f1;
  padding: 20px;
  border-radius: 13px;

}

.Profile-box{
  margin-left: 300px;
  margin-right: 300px;

  border: 10px dotted rgb(1, 15, 13);
  margin-top: 100px;
  height: 600px;
  display: flex;

}

.Portrai{
  width: 200px;
  height: 200px;
  margin-left: 50px;
  margin-top: 50px;
  border-radius:100%;
}

.Seachbar{

  margin-bottom: 30px;
  width:100%;
  padding-left: 30%;
  padding-right: 30%;
  margin-left: auto;
  margin-right: auto;
  
  
}

.input-data{
  color:white;

}


/* 

.App-header {
  background-color: #5b77d6;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.App-button{
  background-color: #4CAF50;
  margin-top: 20px;
  width:220px;
  font-size: 30px;
  border-radius: 20px;
  border: 2px solid #4CAF50;
  transition-duration: 0.4s;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19)
}

.App-button:hover{
  background-color: rgb(221, 22, 138);
  color: white;
  border: 2px solid  rgb(221, 22, 138); 
} */